* {
  box-sizing: border-box;
  background-color: hsl(0, 0%, 7%);
  font-family: "Sora", sans-serif;
  color: white;
}

.no-margin {
  margin: 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  background-color: hsl(0, 0%, 7%);
  margin-bottom: 1rem;
}

.personal-best-container {
  display: flex;
  width: 40%;
  justify-content: space-between;
}

.trophy-icon {
  width: 32px;
  height: 50px;
}

.gray-text {
  color: hsl(240, 3%, 46%);
}

.score {
  color: hsl(0, 0%, 100%);
}

.sub-heading {
  display: flex;
  margin: 0 1rem;
  text-align: center;
}

.sub-heading-values {
  margin-bottom: 0;
}

.score-tracker-container {
  /* padding: 1rem; */
  flex-grow: 1;
}

.right-border {
  border-right: 1px solid hsl(240, 3%, 46%);
}

.difficulty-and-mode__container {
  display: flex;
  justify-content: space-evenly;
  margin: 1.2rem auto;
}

.gray-horizontal-bar {
  height: 100px;
  width: 10px;
  color: hsl(240, 3%, 46%);
}

select {
  width: 45%;
  padding: 0.3rem;
  border-radius: 0.5rem;
  border-color: hsl(240, 3%, 46%);
}

.passage-container {
  position: relative;
  height: 500px;
}

section {
  border-top: 1px solid hsl(240, 3%, 46%);
  padding: 1rem 0;
  font-size: 1.5rem;
  height: inherit;
  /* background-color: hsl(240, 3%, 46%); */
  position: absolute;
  filter: blur(6px);
  /* opacity: 0.1; */
  /* z-index: 1; */
}

.start-typing-container {
  text-align: center;
  height: inherit;
  background-color: hsla(240, 3%, 46%, 0);
  /* margin: 150px 10px; */
  position: absolute;
  inset: 35% 5%;

  /* opacity: 0.2; */
  /* z-index: 2; */
}

.start-typing-button {
  background-color: hsl(214, 100%, 55%);
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
